// html.has-cookie-bar.cookie-bar-top-bar {
// 	margin-top: 30px;
// 	@include transition( all .25s );
// }
#catapult-cookie-bar {
	position: fixed;
	@include box-sizing(border-box);
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 3px;
	max-height: 0;
	opacity: 0;
	direction: ltr;
	padding: 0 20px;
	z-index: 99999;
	overflow: hidden;
	text-align:left;
	@include transition( all .25s );
	background-color: rgba( $white, .95 );
}
#catapult-cookie-bar.drop-shadow {
	@include box-shadow( 0px 3px 9px 0px rgba(0,0,0,0.4) );
}
.cookie-bar-block #catapult-cookie-bar {
	max-height: 999px;
	@include transition( opacity .25s );
}
.has-cookie-bar #catapult-cookie-bar {
	opacity: 1;
	max-height: 999px;
	min-height: 30px;
	padding: 10px 20px;
}
.cookie-bar-block #catapult-cookie-bar span {
	display: block;
	margin: 1em 0;
}
button#catapultCookie {
	@include button( false, $body-font-color, auto, auto, hollow );

}
.cookie-bar-bar button#catapultCookie {
	margin: 0;
}
.cookie-bar-bar .ctcc-inner {
	@include xy-grid();
}
@include breakpoint( $tablet ) {
	.cookie-bar-bar .ctcc-inner {
		@include flex-align( justify, middle );
	}
	.ctcc-left-side {
		@include xy-cell-base( auto );
	}
	.ctcc-right-side {
		@include xy-cell-base( shrink );
	}
}