/*!
 * Hamburger
 *
 */

 .hamburger__toggle {
}

.hamburger {
	&__container {
		display: inline-block;
		text-align: center;
	}
	&:hover,
	&:focus {
		text-decoration: none;
	}
	span {
		color: $hamburger-color;
		display: block;
		&:last-child {
			text-transform: uppercase;
			line-height: 1;
			font-size: rem-calc(12);
			margin-top: rem-calc(2);
		}
	}
	&__bars {
		width: $hamburger-size;
		height: $hamburger-size * .8;
		margin: auto;
		background-color: transparent;
		position: relative;
		.bar-top,
		.bar-middle,
		.bar-bottom {
			display: block;
			position: absolute;
			top: 50%;
			width: 100%;
			height: $hamburger-bar-size;
			background: $hamburger-color;
			@include transform-origin(50%);
			@include transition(translate, $cubic-transition-fast);
		}
	}
	.bar-top {
		@include transform(translateY(-$hamburger-size * .3));
	}
	.bar-middle {
		@include transform(translateY(-$hamburger-bar-size * .5));
	}
	.bar-bottom {
		@include transform(translateY($hamburger-size * .3 -$hamburger-bar-size));
	}
	&__text {
		display: block;
		font-weight: $hamburger-menu-text-weight;
		letter-spacing: $hamburger-letter-spacing;
	}
}

span + .hamburger {
	margin-left: rem-calc(10);
}

body.open-menu {
	.hamburger {
		.bar-top {
			@include transform( rotate(-30deg) scale(1.02) );
		}
		.bar-middle {
			@include opacity(0);
		}
		.bar-bottom {
			@include transform( rotate(30deg) scale(1.02) );
		}
		&__text {
			display: none;
		}
	}
}