/*=============================
=            Paths            =
=============================*/

$images-path:			"../images/";
$icon-font-path:        "../fonts/";

/*=====  End of Paths  ======*/





/*================================================
=            Foundation grid settings            =
================================================*/

$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*=====  End of Foundation grid settings  ======*/





/*=============================================
=            Theme specific colors            =
=============================================*/

@function colorGet($colorName) {
	@return map-get($themeColors, $colorName);
}

@mixin colorSet($colorName, $setting: color) {
	$setting: colorGet($colorName);
}

$white:					#ffffff;
$black:					#000000;
$cinnabar:				#e74c3c;
$salmon:				#ff7f67;
$shiraz:				#ae0c13;
$gulf-stream:			#84bcad;
$cruise:				#b5efdf;
$patina:				#558c7e;
$buttercup:				#f1c40f;
$gorse:					#fff653;
$buddha-gold:			#ba9400;
$picked-bluewood:		#2c3e50;
$shuttle-gray:			#57687c;
$black-pearl:			#031828;
$silver-sand:			#bdc3c7;
$cascade:				#95a5a6;
$porcelain:				#ecf0f0;

$themeColors : (
	'white':			$white,
	'black':			$black,
	'cinnabar':			$cinnabar,
	'salmon':			$salmon,
	'shiraz':			$shiraz,
	'gulf-stream':		$gulf-stream,
	'cruise':			$cruise,
	'patina':			$patina,
	'buttercup':		$buttercup,
	'gorse':			$gorse,
	'buddha-gold':		$buddha-gold,
	'picked-bluewood':	$picked-bluewood,
	'shuttle-gray':		$shuttle-gray,
	'black-pearl':		$black-pearl,
	'silver-sand':		$silver-sand,
	'cascade':			$cascade,
	'porcelain':		$porcelain,
	);

// accent for icons, bullets, etc
$primary-color:			$cinnabar;
$secondary-color:		$gulf-stream;

$success-color:			$patina;
$warning-color:			$buddha-gold;
$alert-color:			$cinnabar;
$light-gray-color:		$picked-bluewood;
$medium-gray-color:		$shuttle-gray;
$dark-gray-color:		$black-pearl;

$autofill-color:		$buttercup;

$body-font-color: 		$black-pearl;

/*=====  End of Theme specific colors  ======*/





/*==============================================
=            Responsive breakpoints            =
==============================================*/

$mobile:				xsmall down;
$mobile-large:			xsmall;
$mobile-horizontal:		medium;
$tablet:				xmedium;
$desktop:				large;
$desktop-large:			xxlarge;

$theme-breakpoints: (
	'mobile':				$mobile,
	'mobile-large':			$mobile-large,
	'mobile-horizontal':	$mobile-horizontal,
	'tablet':				$tablet,
	'desktop':				$desktop,
	'desktop-large':		$desktop-large,
	);

/*=====  End of Responsive breakpoints  ======*/





/*============================================
=            Typography variables            =
============================================*/

$headerTagsList: (
	"h1",
	"h2",
	"h3",
	"h4",
	"h5",
	"h6"
	);

/*=====  End of Typography variables  ======*/





/*===================================
=            Transitions            =
===================================*/

$cubic-transition:				.5s cubic-bezier(.455,.03,.515,.955);
$cubic-transition-fast:			.15s cubic-bezier(.455,.03,.515,.955);

/*=====  End of Transitions  ======*/





/*=======================================
=            Slider settings            =
=======================================*/

$dot-size:						8px;
$dots-spread:					24px;

/*=====  End of Slider settings  ======*/





/*============================================
=            Navigation variables            =
============================================*/

$header-bar-height:				(
	small: 60px,
	);

$hamburger-size:				36px;
$hamburger-bar-size:			2px;
$hamburger-color:				$white;
$hamburger-letter-spacing:		.5px;
$hamburger-menu-text-weight:	bold;

$mobile-nav-font-size:			16px;
$mobile-nav-font-weight:		600;
$mobile-nav-color:				$body-font-color;
$mobile-nav-current-color:		$mobile-nav-color;
$mobile-nav-letter-spacing:		2px;
$mobile-nav-bg:					$porcelain;
$mobile-nav-container-padding:  25px 20px 0;
$mobile-nav-elements-margin:	20px;

$mobile-nav-cta-color:			$cascade;

$desktop-nav-font-size:			18px;
$desktop-nav-font-weight:		400;
$desktop-nav-color:				$white;
$desktop-nav-letter-spacing:	.5px;
$desktop-nav-item-margin:		20px;

$cta-nav-bg:					$picked-bluewood;

/*=====  End of Navigation variables  ======*/




/*====================================
=            Testimonials            =
====================================*/

$testimonials-border-color:		$patina;

/*=====  End of Testimonials  ======*/






/*============================
=            Tabs            =
============================*/

$tabs-triangle-size:			12px;
$active-tab-margin:				$tabs-triangle-size + 8px;

/*=====  End of Tabs  ======*/





/*===============================================
=            Borders and box shadows            =
===============================================*/

$theme-box-shadow:				0px 0px 3px rgba($black-pearl, .7);

/*=====  End of Borders and box shadows  ======*/






/*==================================
=            Cookie bar            =
==================================*/

$cookie-bar-font-size:			14px;
$cookie-bar-color:				$body-font-color;

/*=====  End of Cookie bar  ======*/





/*==============================================
=            Contact form variables            =
==============================================*/

$contact-form-accent:			$cinnabar;
$contact-form-secondary:		$shuttle-gray;

$label-margin-top:				8px;
$label-line-height:				1.5;

/*=====  End of Contact form variables  ======*/





/*=======================================================
=            Images, figures and other media            =
=======================================================*/

$figcaption-margin-top:			15px;
$figcaption-font-size:			10px;
$figcaption-link-color:			$cascade;

/*=====  End of Images, figures and other media  ======*/





/*===================================
=            animate.css            =
===================================*/

$use-fadeIn:					true;
$use-fadeInLeft:				true;
$use-fadeInRight:				true;
$use-fadeInUp:					true;
$use-fadeInDown:				true;
$use-fadeOutLeft:				true;
$use-fadeOutRight:				true;
$use-fadeOutUp:					true;
$use-fadeOutDown:				true;

$use-slideInLeft:				true;
$use-slideInRight:				true;
$use-slideOutLeft:				true;
$use-slideOutRight:				true;

$use-flipInX:					true;
$use-flipOutX:					true;


/*=====  End of animate.css  ======*/





/*==================================
=            SVG shapes            =
==================================*/

$svg_loading_spinner: '<svg width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-wedges" style="background: #{$white};"><g transform="translate(50,50)"><g ng-attr-transform="scale({{config.scale}})" transform="scale(1)"><g transform="translate(-50,-50)"><g transform="rotate(280 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.75s" begin="0s" repeatCount="indefinite"></animateTransform><path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c1}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" fill-opacity="1" fill="#{$primary-color}"></path></g><g transform="rotate(300 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform><path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c2}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(90 50 50)" fill-opacity="1" fill="#{$secondary-color}"></path></g><g transform="rotate(320 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform><path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c3}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(180 50 50)" fill-opacity="1" fill="#{$autofill-color}"></path></g><g transform="rotate(340 50 50)"><animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="3s" begin="0s" repeatCount="indefinite"></animateTransform><path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c4}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(270 50 50)" fill-opacity="1" fill="#{$light-gray-color}"></path></g></g></g></g></svg>';

/*=====  End of SVG shapes  ======*/
